body {
  background-color: black;
  font-family: Verdana;
  font-size: 50px;
  color: white;
  text-align: center;
}

h1 {
}

h2 {
}

h3 {
}

.download {
  color: aquamarine;
  font-size: 16px;
  text-decoration-line: underline;
}
